nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 30px;
}

.hero{
    margin: 60px 0 30px 0;
}
.title {
  font-family: "Permanent Marker", sans-serif;
  font-weight: 400;
  font-size: 80px;
  text-align: center;
}
.subtitle {
  font-family: "Permanent Marker", sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: rgb(82, 38, 123);
}
.quote {
  font-family: "Permanent Marker", sans-serif;
  text-align: center;
  font-size: 17px;
  color: rgb(86, 84, 84);
}



