.web-title {
    font-family: "Permanent Marker", sans-serif;
    font-size: 50px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0;
}
.web-subtitle {
    font-family: "Jost";
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;
}
.div_nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 40px;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}
.header_nav {
    text-decoration: none;
    color: black;
    font-family: "Jost", sans-serif;
    font-size: 15px;
}
.fenix {
    width: 45px;
    height: 45px;
}
.intro_div {
    text-align: center;
    font-style: normal;
    width: 450px;
    margin: 0 auto;
}
.icons-contain {
    padding: 80px;
    display: flex;
    justify-content: center;
    gap: 60px;
    text-align: center;
}
.icons-menu {
    width: 70px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #27e20f;
    margin: 0;
    padding: 0 20px 0 20px;
    color: white;
    font-size: 12px;
    font-weight: 600;
}
.a-footer {
    color: white;
}
.p-footer {
    margin: 0;
}
.about-content {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-bottom: 100px;
    gap: 20px;
    padding-left: 50px;
}
.my-descr {
    width: 600px;
    text-align: center;
}
.text-link {
    color: #268919;
    text-decoration: underline;
}
