body {
    background-image: url("../images/background-fix.png");
    background-size: cover;
}
.web-title {
    font-family: "Permanent Marker", sans-serif;
    font-size: 50px;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-align: center;
}
