.list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 520px;
    padding: 20px;
    gap: 10px;

    background: linear-gradient(
        to top left,
        rgb(206, 209, 209),
        rgb(62, 175, 70)
    );

    border-radius: 18px;

    box-shadow:
        0 40px 80px rgba(0, 0, 0, 0.25),
        0 15px 30px rgba(0, 0, 0, 0.15),
        0 5px 10px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
}

.listproject-icon {
    width: 20px;
}
.tech-icon {
    width: 40px;
    margin-right: 15px;
    padding-left: 15px;
}
