* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: "Inter", system-ui, sans-serif;
    background-color: #f8f9fb;
    color: #0f0f14;
    padding: 20px;
}

main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 4rem 2rem;
}
a {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: italic;
    color: black;
    text-decoration: none;
    }
a:hover {
    color: rgb(82, 38, 123);
    font-weight: 600;
}